<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Movie App</title>

    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        footer {
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>





                @*@Html.ActionLink("Yay or Nay Movies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@


                <a href='@Url.Action("Index", "Home")'><img src='@Url.Content("~/Content/Image/image.png")' /> </a>




</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Full Movie Listing", "Index", "Movie")</li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    @*This part was suppose to help the async for pagForce ing but it does not work for some reason*@

    <div class="container body-content ">

        @RenderBody()

    </div>



    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Yay Or Nay Movie Database Web Application</p>
        <p>@DateTime.Now</p>
    </footer>


    @Scripts.Render("~/bundles/yon")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)
</body>
</html>
